{# extends est une commande TWIG permettant d'hériter d'un template en particulier.
Ici, notre gabarit de base 'base.html.twig" (header + footer + liens css etc...)

home.html.twig hérite du gabarit de base bas.html.twig pour afficher le header, footer...#}
{% extends "base.html.twig"%}

{# block est une commande TWIG permettant de faire appel au block d'un template hérité. Ici, nous faisons appel au block body du base.html.twig#}
{# fait référence au block body de base.html.twig pour afficher le contenu entre la nav et le footer #}
{% block body %}

{# Twig est un langage de rendu. Avantages :
- Simplicité du langage
- facilité d'écriture des affichages
- beaucoup de fonctionnalités (filtres...)
- Absence de php dans l'affichage (permet d'abstraire les affichages des balises PHP)
- Plus simple à intégrer par un intégrateur #}

<h1> {{title}} </h1>
 {# Title est une variable TWIG provient du controller 'BlogController' et de la méthode home() #}

 {# {{}} -> doubles accolades, c'est une interpolation #}
 {# {%%} -> appelle une commande de TWIG #}

{# on interpole (affiche) l'indice title provenant du fichier BlogController entre doubles accolades
Title devient donc une variable dans le template home.html.twig
Pquoi Twig ? Car ce langage de rendu est facile à écrire + une absence totale de <?php ?>. Il traite les données venant du controller
Il simplifie le rendu et est déjà intégré à Symfony #}

{# Pour appeler une commande de twig, on utilise cette syntaxe : #}

{# {% if age > 18 %}

    <p> Vous êtes majeur </p>

{% else %}

    <p> Vous êtes mineur</p>

{% endif %} #}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis, felis et accumsan auctor, magna mi scelerisque nibh, at viverra leo metus nec velit. Aliquam feugiat luctus sapien, at cursus turpis pharetra malesuada. Maecenas sed elementum nibh. In congue lorem mi, ac commodo libero elementum id. Praesent massa orci, scelerisque sit amet tincidunt sed, facilisis at orci. Sed elementum, eros ut lacinia fermentum, lectus lorem laoreet nunc, sit amet accumsan turpis lacus nec lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum blandit lectus at odio auctor pretium. Nunc sit amet egestas risus. Etiam maximus maximus tellus porta egestas. Nullam nulla ipsum, convallis at scelerisque vitae, ullamcorper vitae magna. Vivamus metus nulla, luctus eget molestie et, malesuada vitae odio. Praesent ut blandit nunc, a ultricies velit.</p>

<p>Sed placerat purus id mi facilisis, non vehicula ligula tincidunt. Phasellus eget maximus ipsum, sit amet viverra justo. Sed sagittis tortor arcu, vel tincidunt tortor tristique pulvinar. Nulla bibendum, odio nec tristique pulvinar, dolor nisl dictum nibh, quis interdum nisi tellus quis urna. Sed tempor feugiat pharetra. Phasellus ornare orci in interdum dictum. Maecenas non convallis tortor. Nunc vitae ex sit amet tellus feugiat suscipit tempor eget quam. Vivamus pellentesque enim quis tempus lacinia. Integer tortor mauris, convallis vitae tellus sodales, tempus sollicitudin metus. Proin eget tincidunt nisi, in ultricies dolor.</p>

{% endblock %}